.outer-grid {
	display: grid;
	grid-template: "sidenav main" 100px;
	grid-template-columns: 13rem 1fr;
	min-height: 100vh;
}

.main-grid {
	grid-area: main;
	max-width: $viewport-extra-large;
	padding: 5rem;
}

.sidenav {
	grid-area: sidenav;
}

//Home
.home-grid {
	display: grid;
	grid-template: "welcome sidebar" 1fr;
	grid-template-columns: 1fr 33.3rem;
	grid-gap: 4rem;
	height: auto;
}

.welcome-grid {
	grid-area: welcome;
}

.sidebar-grid {
	grid-area: sidebar;
}
