.outer-grid {
	display: grid;
	grid-template: "sidenav main" 100px;
	grid-template-columns: 13rem 1fr;
	min-height: 100vh;
}

.main-grid {
	grid-area: main;
	max-width: $viewport-extra-large;
	padding: 5rem;
}

.sidenav {
	grid-area: sidenav;
}

//Home
.home-grid {
	display: grid;
	grid-template:
		"welcome sidebar" auto
		"highlighted sidebar" 1fr
		"create-post sidebar" 1fr
		"posts-feed sidebar" 1fr
		"posts-feed sidebar" auto / minmax(0, 1fr) 33.3rem;
	grid-gap: 4rem;
	height: auto;
}

.create-post-grid {
	grid-area: create-post;
}

.posts-feed-grid {
	grid-area: posts-feed;
	display: grid;
	grid-template-columns: 1fr 400px;
}

.highlighted-grid {
	grid-area: highlighted;
}

.welcome-grid {
	grid-area: welcome;
}

.sidebar-grid {
	grid-area: sidebar;
}
