@import "/src/assets/styles/settings/_colors.scss";

.post-section {
	align-self: center;
	align-items: center;
	width: 100%;
	height: auto;
	background-color: $white;
	margin-bottom: 4rem;
}

.author-section {
	align-items: center;
	padding: 0 2rem 0 5.1rem;

	&__icon {
		width: 4rem;
		height: 4rem;
		margin-right: 0.3rem;
	}
}

.form-section {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.submit-form {
	width: 100%;
	padding-right: 5.5rem;
	margin: 2rem;
}

.form-group {
	margin-bottom: 1rem;
}

.btn {
	align-self: flex-end;
	background-color: $dark-green;
	color: $white;
	border: solid 1px $light-green;
	border-radius: 6px;
	padding: 0.5rem 1.5rem;
}
