@import "/src/assets/styles/settings/_colors.scss";
@import "/src/assets/styles/tools/_mixins.scss";
@import "/src/assets/styles/settings/_vars.scss";

.nav-bar {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: $dark-green;
	width: 13rem;
	height: 100%;

	&__logo {
		width: 100%;
		height: 13rem;
	}
}

.nav-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	&__item {
		width: 100%;
		height: 10rem;
	}

	&__item.active {
		background-color: $light-green;
	}
}

.item-logo {
	width: 5.5rem;
	height: 4.5rem;
	color: $white;
}

.nav-item {
	text-decoration: none;
	width: 100%;
	height: 100%;
	&__logo {
		margin-bottom: 0.3rem;
	}
}


@include viewport-medium {
	.nav-bar {
		bottom: 0;
		width: 100%;
		height: 9rem;
		flex-direction: row;

		&__logo {
			display: none;
		}
	}

	.nav-list {
		flex-direction: row;
		justify-content: space-evenly;
		width: 100%;
	}
}